__pycache__
.DS_Store
.ipynb_checkpoints
static/cc
static/colorized
static/contrast
static/gamma_corrected
static/grayscale
static/hsi
static/im
static/inv
static/jaccard
static/model
static/nn
static/obj
static/om
static/original
static/vcminus
static/vcplus
static/vd
static/ve
static/cosine
brns-db
