<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Web App</title>

    <script
    src="static/js/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="static/resize/css/imgareaselect-default.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript" src="static/resize/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="static/resize/scripts/jquery.imgareaselect.pack.js"></script>
    <script src="static/js/jquery-ui.js"></script>

    <script src="static/js/sweetalert.min.js"></script>

    <style type="text/css">

        .icon-button {
          border-radius: 10px;
        }

        .icon-button:focus {
          outline: 0;
        }

        .icon-image {
          width: 50px;
          height: 50px;
        }

        .slide {
          margin-top: -50px;
          margin-left: 80px;
          margin-right: 80px;
        }

    </style>

    <style>
    * {box-sizing: border-box;}

    .img-magnifier-container {
      position:relative;
    }

    .img-magnifier-glass {
      position: absolute;
      border: 3px solid #000;
      border-radius: 50%;
      cursor: none;
      /*Set the size of the magnifier glass:*/
      width: 100px;
      height: 100px;
    }
    </style>
    <script>
    function magnify(imgID, zoom) {
      var img, glass, w, h, bw;
      img = document.getElementById(imgID);
      /*create magnifier glass:*/
      glass = document.createElement("DIV");
      glass.setAttribute("class", "img-magnifier-glass");
      /*insert magnifier glass:*/
      img.parentElement.insertBefore(glass, img);
      /*set background properties for the magnifier glass:*/
      glass.style.backgroundImage = "url('" + img.src + "')";
      glass.style.backgroundRepeat = "no-repeat";
      glass.style.backgroundSize = (img.width * zoom) + "px " + (img.height * zoom) + "px";
      bw = 3;
      w = glass.offsetWidth / 2;
      h = glass.offsetHeight / 2;
      /*execute a function when someone moves the magnifier glass over the image:*/
      glass.addEventListener("mousemove", moveMagnifier);
      img.addEventListener("mousemove", moveMagnifier);
      /*and also for touch screens:*/
      glass.addEventListener("touchmove", moveMagnifier);
      img.addEventListener("touchmove", moveMagnifier);
      function moveMagnifier(e) {
        var pos, x, y;
        /*prevent any other actions that may occur when moving over the image*/
        e.preventDefault();
        /*get the cursor's x and y positions:*/
        pos = getCursorPos(e);
        x = pos.x;
        y = pos.y;
        /*prevent the magnifier glass from being positioned outside the image:*/
        if (x > img.width - (w / zoom)) {x = img.width - (w / zoom);}
        if (x < w / zoom) {x = w / zoom;}
        if (y > img.height - (h / zoom)) {y = img.height - (h / zoom);}
        if (y < h / zoom) {y = h / zoom;}
        /*set the position of the magnifier glass:*/
        glass.style.left = (x - w) + "px";
        glass.style.top = (y - h) + "px";
        /*display what the magnifier glass "sees":*/
        glass.style.backgroundPosition = "-" + ((x * zoom) - w + bw) + "px -" + ((y * zoom) - h + bw) + "px";
      }
      function getCursorPos(e) {
        var a, x = 0, y = 0;
        e = e || window.event;
        /*get the x and y positions of the image:*/
        a = img.getBoundingClientRect();
        /*calculate the cursor's x and y coordinates, relative to the image:*/
        x = e.pageX - a.left;
        y = e.pageY - a.top;
        /*consider any page scrolling:*/
        x = x - window.pageXOffset;
        y = y - window.pageYOffset;
        return {x : x, y : y};
      }

      return glass;
    }
    </script>

  </head>
  <body>

	</div>
    {% if upload %}
      <form method="post" enctype="multipart/form-data">
        <input type="file" name="inputFile">
        <input type="submit" name="inputSubmit">
      </form>
    {% else %}
      <div class="after-content">
        <img src="{{img}}" id="img" style="width: 640px; height; 512px; float: left;">
        <form method="post" style="float: left; margin-left: 10%;">
          <!-- <p><button id="rgbtohsi" type="button">RGB to HSI</button></p> -->
          <!-- <p><button>Overlapping</button></p> -->
          <!-- <p><button id="contrast" type="button">Constrast stretching</button></p>
          <p><button id="gamma" type="button">Gamma correction</button></p>
          <p id="gamma-p" style="display: none;">
            <input id="gamma-value" type="text" placeholder="Enter gamma value">
            <input id="gamma-correct" type="button" value="Gamma Correct">
          </p>
          <p><button id="zeff" type="button">Zeff</button>&nbsp;(Click to activate/deactivate)</p>
          <p><button type="button" id="zoomin">Zoom in</button></p>
          <p><button type="button" id="zoomout">Zoom out</button></p>
          <p><button type="button" id="rgb">RGB</button></p>
          <p><button type="button" id="gray">Grayscale</button></p> -->
          <div>
            <p style="text-align: center;">
              <button type="button" id="inv" class='icon-button'><img class='icon-image' src="static/ecil_icons/INV.png"></button>
              <button type="button" id="obj" class='icon-button'><img class='icon-image' src="static/ecil_icons/obj_vs_bg.png"></button>
              <button type="button" id="cc" class='icon-button'><img class='icon-image' src="static/ecil_icons/CC.png"></button>
              <button type="button" id="new" class='icon-button'><img class='icon-image' src="static/ecil_icons/new.png"></button>
            </p>
            <p>
              <button type="button" id="vcminus" class='icon-button'><img class='icon-image' src="static/ecil_icons/VC_minus.png"></button>
              <button type="button" id="im" class='icon-button'><img class='icon-image' src="static/ecil_icons/IM.png"></button>
              <button type="button" id="om" class='icon-button'><img class='icon-image' src="static/ecil_icons/OM.png"></button>
              <button type="button" id="vcplus" class='icon-button'><img class='icon-image' src="static/ecil_icons/VC_plus.png"></button>
            </p>
            <p>
              <span id="slider1-value"></span><br>
              <button type="button" id="veminus" class='icon-button'><img class='icon-image' src="static/ecil_icons/VE_minus.png"></button>
              <div id="slider" class='slide'></div>
              <button type="button" id="veplus" class='icon-button' style='margin-top: -120px; margin-left: 220px;'><img class='icon-image' src="static/ecil_icons/VE_plus.png"></button>
            </p>
            <p>
              <span id="slider2-value"></span><br>
              <button type="button" id="vdminus" class='icon-button'><img class='icon-image' src="static/ecil_icons/VD_minus.png"></button>
              <div id="slider1" class='slide'></div>
              <button type="button" id="vdplus" class='icon-button' style='margin-top: -120px; margin-left: 220px;'><img class='icon-image' src="static/ecil_icons/VD_plus.png"></button>
            </p>
            <p style="text-align: center;">
              <button type="button" id="pseudo" class='icon-button'><img class='icon-image' src="static/ecil_icons/Pseudo.png"></button>
              <button type="button" id="gray" class='icon-button'><img class='icon-image' src="static/ecil_icons/BW.png"></button>
              <button type="button" id="hsi" class='icon-button'><img class='icon-image' src="static/ecil_icons/HSI.png"></button>
            </p>
            <p>
              <span id="slider3-value"></span><br>
              <button type="button" id="gammaminus" class='icon-button'><img class='icon-image' src="static/ecil_icons/gamma_minus.png"></button>
              <div id="slider2" class='slide'></div>
              <button type="button" id="gammaplus" class='icon-button' style='margin-top: -120px; margin-left: 220px;'><img class='icon-image' src="static/ecil_icons/gamma_plus.png"></button>
            </p>
            <p style="text-align: right;">
              <input type="number" id="gammaVal">
              <button type="button" id="gamma" class='icon-button'><img class='icon-image' src="static/ecil_icons/gamma.png"></button>
            </p>
            <p style="text-align: center;">
              <button type="button" id="contrast" class='icon-button'><img class='icon-image' src="static/ecil_icons/cstretch.png"></button>
              <button type="button" id="zeff" class='icon-button'><img class='icon-image' src="static/ecil_icons/zeff.png"></button>
              <button type="button" id="zoom" class='icon-button'><img class='icon-image' src="static/ecil_icons/Zoom.png"></button>
              <button type="button" id="predict" class='icon-button'><img class='icon-image' src="static/ecil_icons/nn.png"></button>
            </p>
            <p style="text-align: center;">
              <button type="button" id="jaccard" class='icon-button'><img class='icon-image' src="static/ecil_icons/jaccard.png"></button>
            </p>
          </div>
        </form>
      </div>
    {% endif %}

    {% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
        <script>
			   alert("{{message}}");
        </script>
		  {% endfor %}
	  {% endif %}
	  {% endwith %}

    <script>

      var zoomed = false;

      glass = magnify("img", 3);
      glass.removeAttribute("class");

      $("#zoom").click(function() {
        if(zoomed) {
          glass.removeAttribute("class");
        } else {
          glass = magnify("img", 3);
        }

        zoomed = !zoomed;
      });

      var imagesize = $('#img').width();
      var x1 = 0, x2 = 0, y1 = 0, y2 = 0;

      $("#img").imgAreaSelect({
        handles: true,
        onSelectEnd: function(img, selection) {
          x1 = selection.x1;
          x2 = selection.x2;
          y1 = selection.y1;
          y2 = selection.y2;
        }
      });

      var $ias = $('#img').imgAreaSelect({
          instance: true
      });

      $("#zeff").click(function() {
          var filename = $("#img").attr("src");

          if(x1 == 0 && x2 == 0 && y1 == 0 && y2 == 0) {
            window.swal({
              title: "Error!",
              text: "Select an area"
            });
          } else {
            window.swal({
              title: "Processing...",
              text: "Please wait"
            });
            $.ajax({
              url: "/zeff",
              type: "post",
              dataType: "json",
              data: {x1: x1, x2: x2, y1: y1, y2: y2, filename: filename},
              success: function(result) {
                $ias.cancelSelection();
                swal.close();
                window.swal({
                  title: "Result (zeff)",
                  text: "Zeff = " + result.zeff
                });
                x1 = 0;
                x2 = 0;
                y1 = 0;
                y2 = 0;
              }
            });
          }
      });

      $("#predict").click(function() {
        var filename = $("#img").attr("src");

        if(x1 == 0 && x2 == 0 && y1 == 0 && y2 == 0) {
          window.swal({
            title: "Error!",
            text: "Select an area"
          });
        } else {
          window.swal({
            title: "Predicting...",
            text: "Please wait"
          });
          $.ajax({
            url: "/predict",
            type: "post",
            dataType: "json",
            data: {x1: x1, x2: x2, y1: y1, y2: y2, filename: filename},
            success: function(result) {
              $ias.cancelSelection();
              swal.close();
              window.swal({
                icon: result.icon,
                title: "Prediction",
                text: "This is a " + result.prediction
              });
            }
          })
        }
      });

      $("#jaccard").click(function() {
        var filename = $("#img").attr("src");

        if(x1 == 0 && x2 == 0 && y1 == 0 && y2 == 0) {
          window.swal({
            title: "Error!",
            text: "Select an area"
          });
        } else {
          window.swal({
            title: "Saving...",
            text: "Please wait"
          });
          $.ajax({
            url: "/save",
            type: "post",
            dataType: "json",
            data: {x1: x1, x2: x2, y1: y1, y2: y2, filename: filename},
            success: function(result) {
              $ias.cancelSelection();
              swal.close();
              window.swal({
                icon: result.icon,
                title: "Result",
                text: result.status
              });
            }
          })
        }
      });

      $("#contrast").click(function() {
          var filename = $("#img").attr('src');

          $.ajax({
            url: "/constrast",
            type: "post",
            dataType: "json",
            data: {filename: filename},
            success: function(result) {
              $("#img").attr('src', result.img);
            }
          });
      });

      $("#rgbtohsi").click(function() {
        var filename = $("#img").attr('src');

        $.ajax({
          url: "/rgbtohsi",
          type: "post",
          dataType: "json",
          data: {filename: filename},
          success: function(result) {
            $("#img").attr('src', result.img);
          }
        });
      });

      $("#pseudo").click(function() {
        window.swal({
          title: "Processing...",
          text: "Please wait"
        });
        $.ajax({
          url: "/rgb",
          type: "post",
          dataType: "json",
          data: {},
          success: function(result) {
            window.swal.close();
            $("#img").attr('src', result.img);
            $("#slider1-value").html("");
            $("#slider2-value").html("");
            $("#slider3-value").html("");
          }
        });
      });

      $("#gray").click(function() {
        window.swal({
          title: "Processing...",
          text: "Please wait"
        });
        $.ajax({
          url: "/gray",
          type: "post",
          dataType: "json",
          data: {},
          success: function(result) {
            window.swal.close();
            $("#img").attr('src', result.img);
          }
        });
      });

      $("#hsi").click(function() {
        $.ajax({
          url: "/hsi",
          type: "post",
          dataType: "json",
          success: function(result) {
            $("#img").attr('src', result.img);
          }
        });
      });slider2

      $("#cc").click(function() {
        window.swal({
          title: "Processing...",
          text: "Please wait"
        });
        $.ajax({
          url: "/cc",
          type: "post",
          dataType: "json",
          success: function(result) {
            window.swal.close();
            $("#img").attr('src', result.img);
          }
        });
      });

      $("#inv").click(function() {
        $.ajax({
          url: "/inv",
          type: "post",
          dataType: "json",
          success: function(result) {
            $("#img").attr('src', result.img);
          }
        });
      });

      $("#obj").click(function() {
        $.ajax({
          url: "/obj",
          type: "post",
          dataType: "json",
          success: function(result) {
            $("#img").attr('src', result.img);
          }
        });
      });

      $("#om").click(function() {
        $.ajax({
          url: "/om",
          type: "post",
          dataType: "json",
          success: function(result) {
            $("#img").attr('src', result.img);
          }
        });
      });

      $("#im").click(function() {
        $.ajax({
          url: "/im",
          type: "post",
          dataType: "json",
          success: function(result) {
            $("#img").attr('src', result.img);
          }
        });
      });

      $("#vcminus").click(function() {
        $.ajax({
          url: "/vcminus",
          type: "post",
          dataType: "json",
          success: function(result) {
            $("#img").attr('src', result.img);
          }
        });
      });

      $("#vcplus").click(function() {
        $.ajax({
          url: "/vcplus",
          type: "post",
          dataType: "json",
          success: function(result) {
            $("#img").attr('src', result.img);
          }
        });
      });

      $("#gamma").click(function() {
        var gamma_val = $("#gammaVal").val();
        if(gamma_val == "") {
          alert("Enter gamma value!");
        } else {
          $.ajax({
            url: "/gamma",
            type: "post",
            dataType: "json",
            data: {gamma: gamma_val, mode: "1"},
            success: function(result) {
              $("#img").attr('src', result.img);
              $("#gammaVal").val("");
              $("#slider3-value").html("Gamma value = " + result.gamma);
            }
          });
        }
      });

      var slider = 0;
      var slider1 = 0;
      var slider2 = 0;

      $( function() {
        $( "#slider" ).slider({
          min: 0,
          max: 2,
          step: 0.1,
          slide: function(event, ui) {
            slider = ui.value;
            window.swal({
              title: "Processing...",
              text: "Please wait"
            });
            $.ajax({
              url: "/ve",
              type: "post",
              dataType: "json",
              data: {ve: slider},
              success: function(result) {
                window.swal.close();
                $("#img").attr('src', result.img + '?' + new Date().getTime());
                $("#slider1-value").html("VE value = " + result.ve);
              }
            })
          }
        })
      } );

      $( function() {
        $( "#slider1" ).slider({
          min: 0,
          max: 2,
          step: 0.1,
          slide: function(event, ui) {
            slider1 = ui.value;
            window.swal({
              title: "Processing...",
              text: "Please wait"
            });
            $.ajax({
              url: "/vd",
              type: "post",
              dataType: "json",
              data: {vd: slider1},
              success: function(result) {
                window.swal.close();
                $("#img").attr('src', result.img + '?' + new Date().getTime());
                $("#slider2-value").html("VD value = " + result.vd);
              }
            });
          }
        });
      } );

      $( function() {
        $( "#slider2" ).slider({
          min: 0,
          max: 2,
          step: 0.1,
          slide: function(event, ui) {
            slider2 = ui.value;
            window.swal({
              title: "Processing...",
              text: "Please wait"
            });
            $.ajax({
              url: "/gamma",
              type: "post",
              dataType: "json",
              data: {gamma: slider2, mode: "1"},
              success: function(result) {
                window.swal.close();
                $("#img").attr('src', result.img + '?' + new Date().getTime());
                $("#slider3-value").html("Gamma value = " + result.gamma);
              }
            })
          }
        });
      } );

      $("#veplus").click(function() {
        if(slider + 0.1 <= 2.1) {
          $("#slider").slider("value", slider + 0.1);
          slider = slider + 0.1;
          window.swal({
            title: "Processing...",
            text: "Please wait"
          });
          $.ajax({
            url: "/ve",
            type: "post",
            dataType: "json",
            data: {ve: slider},
            success: function(result) {
              window.swal.close();
              $("#img").attr('src', result.img + '?' + new Date().getTime());
              $("#slider1-value").html("VE value = " + result.ve);
            }
          });
        }
      });

      $("#veminus").click(function() {
        if(slider - 0.1 >= -0.1) {
          $("#slider").slider("value", slider - 0.1);
          slider = slider - 0.1;
          window.swal({
            title: "Processing...",
            text: "Please wait"
          });
          $.ajax({
            url: "/ve",
            type: "post",
            dataType: "json",
            data: {ve: slider},
            success: function(result) {
              window.swal.close();
              $("#img").attr('src', result.img + '?' + new Date().getTime());
              $("#slider1-value").html("VE value = " + result.ve);
            }
          });
        }
      });

      $("#vdplus").click(function() {
        if(slider1 + 0.1 <= 2.1) {
          $("#slider1").slider("value", slider1 + 0.1);
          slider1 = slider1 + 0.1;
          window.swal({
            title: "Processing...",
            text: "Please wait"
          });
          $.ajax({
            url: "/vd",
            type: "post",
            dataType: "json",
            data: {vd: slider1},
            success: function(result) {
              window.swal.close();
              $("#img").attr('src', result.img + '?' + new Date().getTime());
              $("#slider2-value").html("VD value = " + result.vd);
            }
          });
        }
      });

      $("#vdminus").click(function() {
        if(slider1 - 0.1 >= -0.1) {
          $("#slider1").slider("value", slider1 - 0.1);
          slider1 = slider1 - 0.1;
          window.swal({
            title: "Processing...",
            text: "Please wait"
          });
          $.ajax({
            url: "/vd",
            type: "post",
            dataType: "json",
            data: {vd: slider1},
            success: function(result) {
              window.swal.close();
              $("#img").attr('src', result.img + '?' + new Date().getTime());
              $("#slider2-value").html("VD value = " + result.vd);
            }
          });
        }
      });

      $("#gammaplus").click(function() {
        if(slider2 + 0.1 <= 2.1) {
          $("#slider2").slider("value", slider2 + 0.1);
          slider2 = slider2 + 0.1;
          window.swal({
            title: "Processing...",
            text: "Please wait"
          });
          $.ajax({
            url: "/gamma",
            type: "post",
            dataType: "json",
            data: {gamma: slider2, mode: "1"},
            success: function(result) {
              window.swal.close();
              $("#img").attr('src', result.img + '?' + new Date().getTime());
              $("#slider3-value").html("Gamma value = " + result.gamma);
            }
          });
        }
      });

      $("#gammaminus").click(function() {
        if(slider2 - 0.1 >= -0.1) {
          $("#slider2").slider("value", slider2 - 0.1);
          slider2 = slider2 - 0.1;
          window.swal({
            title: "Processing...",
            text: "Please wait"
          });
          $.ajax({
            url: "/gamma",
            type: "post",
            dataType: "json",
            data: {gamma: slider2, mode: "1"},
            success: function(result) {
              window.swal.close();
              $("#img").attr('src', result.img + '?' + new Date().getTime());
              $("#slider3-value").html("Gamma value = " + result.gamma);
            }
          });
        }
      });

      $("#new").click(function() {
        $.ajax({
          url: "/",
          type: "get",
          success: function() {
            window.location.href = '/';
          }
        })
      });

    </script>

  </body>
</html>
