<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Web App</title>

    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="static/resize/css/imgareaselect-default.css" />
    <script type="text/javascript" src="static/resize/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="static/resize/scripts/jquery.imgareaselect.pack.js"></script>

  </head>
  <body>
    {% if upload %}
      <form method="post" enctype="multipart/form-data">
        <input type="file" name="inputFile">
        <input type="submit" name="inputSubmit">
      </form>
    {% else %}
      <div class="after-content">
        <img src="{{img}}" id="img" style="width: 500px; height; 300px; float: left;">
        <form method="post" style="float: left; margin-left: 10%;">
          <p><button id="rgbtohsi" type="button">RGB to HSI</button></p>
          <!-- <p><button>Overlapping</button></p> -->
          <p><button id="contrast" type="button">Constrast stretching</button></p>
          <p><button id="gamma" type="button">Gamma correction</button></p>
          <p id="gamma-p" style="display: none;">
            <input id="gamma-value" type="text" placeholder="Enter gamma value">
            <input id="gamma-correct" type="button" value="Gamma Correct">
          </p>
          <p><button id="zeff" type="button">Zeff</button>&nbsp;(Click to activate/deactivate)</p>
          <p><button type="button" id="zoomin">Zoom in</button></p>
          <p><button type="button" id="zoomout">Zoom out</button></p>
        </form>
      </div>
    {% endif %}

    {% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
        <script>
			   alert("{{message}}");
        </script>
		  {% endfor %}
	  {% endif %}
	  {% endwith %}

    <script>

      var imagesize = $('#img').width();

      $('#zoomout').on('click', function(){
          imagesize = imagesize - 5;
          $('#img').width(imagesize);
      });

      $('#zoomin').on('click', function(){
          imagesize = imagesize + 5;
          $('#img').width(imagesize);
      });

      var select = false;

      $("#zeff").click(function() {
          if(!select) {
              var filename = $("#img").attr("src");

              console.log(filename);

              $('#img').imgAreaSelect({
                  handles: true,
                  onSelectEnd: function(img, selection) {
                    $.ajax({
                      url: "/zeff",
                      type: "post",
                      dataType: "json",
                      data: {x1: selection.x1, x2: selection.x2, y1: selection.y1, y2: selection.y2, filename: filename},
                      success: function(result) {
                        alert(result.zeff);
                      }
                    });
                  }
              });
          } else {
              $('#img').imgAreaSelect({
                  remove: true
              });
          }

          select = !select;
      });

      $("#contrast").click(function() {
          var filename = $("#img").attr('src');

          $.ajax({
            url: "/constrast",
            type: "post",
            dataType: "json",
            data: {filename: filename},
            success: function(result) {
              $("#img").attr('src', result.img);
            }
          });
      });

      var toggle_gamma = false;

      $("#gamma").click(function() {
        if(!toggle_gamma)
          $("#gamma-p").show();
        else
          $("#gamma-p").hide();
        toggle_gamma = !toggle_gamma;
      });

      $("#gamma-correct").click(function() {
        var filename = $("#img").attr('src');
        var gamma = $("#gamma-value").val();

        $.ajax({
          url: "/gamma",
          type: "post",
          dataType: "json",
          data: {filename: filename, gamma: gamma},
          success: function(result) {
            $("#img").attr('src', result.img);
          }
        });
      });

      $("#rgbtohsi").click(function() {
        var filename = $("#img").attr('src');

        $.ajax({
          url: "/rgbtohsi",
          type: "post",
          dataType: "json",
          data: {filename: filename},
          success: function(result) {
            $("#img").attr('src', result.img);
          }
        });
      });

    </script>

  </body>
</html>
